@use '../../scss/variables.scss' as *;

.game-settings-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-image: url(/backgrounds/zig-zag-forest.svg);
  background-size: contain;
  background-color: #00bb77;
  color: white;

  .level-button {
    padding: 0.2rem 0.4rem;
    margin-left: 1.5rem;
    color: #00bb77;

    &:hover {
      border-color: darkslategray;
    }

    &.selected {
      background-color: darkslategray;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    flex-direction: column;
    .level-button {
      margin: 0.2rem;
    }
  }
}
